html
    head
        title Nuevo producto
        style 
            include ../../public/styles/style.css
    body
        header(class="container")
            nav
                h1 Registro de productos
                a(href='/productos')
                    button Ver productos

        include includes/form.pug


